.info-section {
  padding-top: 80px;
  color: #454545;

  .main-container {
    display: grid;
    grid-row-gap: 36px;

    @media (min-width: 1024px) {
      grid-template-columns: 380px 1fr;
      align-items: start;
      grid-column-gap: 24px;
    }

    @media (min-width: 1280px) {
      grid-template-columns: 580px 1fr;
      grid-column-gap: 70px;
    }
  }

  h2 {
    margin-bottom: 16px;
    text-align: center;

    @media (min-width: 1024px) {
      text-align: left;
    }

    @media (min-width: 1440px) {
      margin-bottom: 24px;
    }
  }

  p {
    &:not(:first-of-type) {
      margin-top: 26px;

      @media (min-width: 1280px) {
        margin-top: 16px;
      }

      @media (min-width: 1440px) {
        margin-top: 26px;
      }
    }
  }

  .btn {
    width: 100%;

    @media (min-width: 1024px) {
      width: auto;
    }
  }
}

.info {
  &__img {
    display: block;
    border-radius: 4px;
    overflow: hidden;

    @media (max-width: 1023px) {
      max-width: 400px;
      margin-right: auto;
      margin-left: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__logo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 16px;

    @media (min-width: 768px) {
      gap: 24px;
    }
    @media (min-width: 1024px) {
      justify-content: flex-start;
    }

    @media (min-width: 1280px) {
      gap: 16px 8px;
      margin-top: 28px;
      margin-bottom: 28px;
    }

    @media (min-width: 1280px) {
      gap: 32px;
      margin-top: 28px;
      margin-bottom: 28px;
    }

    @media (min-width: 1440px) {
      margin-top: 44px;
      margin-bottom: 44px;
    }

    &--item {
      height: 40px;
      
      @media (min-width: 768px) {
        height: 56px;
      }

      img {
        height: 100%;
        width: auto;
      }
    }
  }
}